:root {
    --navy-color: #042e61;
    --secondary: #727171ef;
    --light-on-color: white;
    --header-background: rgb(21, 31, 96) ;
    --text-color: white;
    --active: yellow;
    --nav-text: white;
    --body-background: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    background-color: var(--body-background);

    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}
header {
    grid-row: 1/2;
    background-color: var(--header-background);
    color: var(--nav-text);
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 75px;
}
header h1 {
    padding: 15px;
    height: 75px;
    padding-top: 10px;
    margin: 15px;
    text-align: center;
    font-family: Montserrat, sans-serif, serif;
}
#menu {
    display: block;
    font-size: 2.5rem;
    font-weight:700;
    text-decoration: none;
    padding: .85rem .85rem;
    color: var(--nav-text);
    margin-right: 5px;
    width: 50px;
    height: 100vh;
}
#menu::before {
    content: "≣";
}
nav {
    position: absolute;
    top: 75px;
    right: 0;
}
nav a:hover, nav a:active {
    color: var(--text-color);
    background-color: var(--nav-text);
}
nav a {
    display: none;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: var(--nav-text);
    font-weight: 700;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
main h2, h1 {
    padding-top: 10px;
    margin: 15px;
    text-align: center;
    font-size: xx-large;
    font-family: Montserrat, sans-serif, serif;
}
main p {
    text-align: center;
    font-family: playfair Display, sans-serif;
    margin-bottom: 2px;
}
.show a {
    display: block;
    width: 478px;
    transition: 5ms;
}
#menu.show::before {
    content: "⨉";
    font-size: xx-large;
}
#cards {
    width: 100%;
    gap: 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    background-color: rgb(79, 183, 228);
    padding: 20px;
}
section {
    margin: 0.15rem;
    padding: 0.35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: auto;
    max-width: 325px;
    height: 200px;
    border: 1px solid #333;
    box-shadow: 0 0 30px #777;
}
.image-container {
    width: 350px;
    height: 400px;
    margin: 15px auto ;
    background-color: #edf0ed;
    border: 1px solid rgb(254, 252, 252);
}
.image-container span {
    color: rgb(18, 49, 183);
}
.navigation {
    background-color: rgb(21, 31, 96);
}
main {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 15px;
}
footer {
    grid-row: 3/4;
    background-color: #042e61;
    color: rgb(248, 248, 248);
    text-align: center;
    padding: 10px;
    height: 75px;
}
#lastModified {
    font-size: large;
}
@media only screen and (min-width: 631px){
   
    
    .navigation {
        position: absolute;
        top: 25px;
        right: 0;
        padding: 0;
		width: clamp(50%, 50vw, 500px);
	}
	.navigation a {
        display: inline;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 30px;
      
	}
	#menu {
		display: none;
	}
}