body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.review-container {
  background-color: #F0F0F5;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 400px; /* Ajuste del tamaño máximo del contenedor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

h1 {
  background-color: #3A003D;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: -20px -20px 20px -20px;
  border-radius: 8px 8px 0 0;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

select, input[type="date"], textarea, input[type="text"], button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#rating input {
  display: none;
}

#rating label {
  font-size: 2em;
  color: gray;
  cursor: pointer;
}

#rating input:checked ~ label {
  color: gold;
}

#rating label:hover,
#rating label:hover ~ label {
  color: gold;
}

.features {
  display: flex;
  flex-direction: column;
}

.features input {
  margin-right: 10px;
}

button {
  background-color: #f0f0f0;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #ddd;
}

footer {
  background-color: #3A003D;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  margin-top: 20px;
  border-radius: 0 0 8px 8px;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px; /* Ajuste del tamaño máximo del footer */
}

footer p {
  margin: 5px 0;
}