* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    padding: 1rem;
}

h2 {
    color: black;
}

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: white;
}

header {
    background-color: #1a5fb4;
    display: grid;
    border-radius: 0 0 10px 10px;
}
nav {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 60px 60px;
}
nav ul {
    list-style-type: none;
}
nav a {
    display: none;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
.active {
    color: yellow;
}

.open a {
	display: block;
}


#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: yellow;
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}


main .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}
main h2 {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}
figure {
    align-items: center;
    width: clamp(170px, 70%, 240px);
    height: 250px;
    margin: auto;
    color: black;
}
figcaption {
    text-align: center;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


footer {
    color: white;
    background-color: #1a5fb4;
    margin-top: 3rem;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

