body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

.photo-grid {
    display: grid;
    align-items: repeat(3. 1fr);
    grid-gap: 10px; /* espacio entre elementos */
    padding: 20px; /* margen interno */
}

figure {
    margin: 0;
    text-align: center;
}

img {
    width: 20%;
    height: auto;
}

figcaption {
    font-style: italic; /* estilo para las leyendas */
}

footer {
    padding: 0.2rem;
    text-align: center;
    background-color: rgb(80, 77, 77);
    color: white;
}
